body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    margin: 20px;
}

.categories, .filters {
    margin-right: 20px;
    width: 150px;
}

.product-list {
    flex-grow: 1;
    padding: 10px; 
}

.product-item {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item h3 {
    margin: 0;
    color: #000;
}

.product-item p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.product-item button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #b71c1c;
}

.details {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 10;
}

.details.active {
    display: block;
}

.hidden {
    display: none;
}

h1, h2, h3 {
    margin: 0 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-btn:hover {
    background-color: #d32f2f;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-details img {
    max-width: 10px;
    margin-bottom: 20px;
}

.product-details h2 {
    margin-bottom: 20px;
}

.header-space {
    height: 20px; /* Adjust based on your existing header height */
}
